<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleDisplayName</key><string>Pukkelhack</string>
  <key>CFBundleIconFile</key><string>Pukkelhack.icns</string>
  <key>CFBundleExecutable</key><string>Pukkelhack</string>
  <key>CFBundleIdentifier</key><string>com.essentiel.pukkelhack</string>
  <key>CFBundleName</key><string>Pukkelhack</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>1.8.1</string>
  <key>CFBundleVersion</key><string>181</string>
  <key>LSMinimumSystemVersion</key><string>13.0</string>
  <key>NSHighResolutionCapable</key><true/>
</dict></plist>
